.DS_Store
*.log
# *migrations/
digipal/static/digipal/scripts/tests/screenshots/
digipal/static/digipal/scripts/tests/local_config.js
*.pot
*.pyc
local_settings.py
digipal/search/
digipal/backups/*.sql
digipal/repo_cfg.py
digipal_cust/static/
digipal_cust/django_cache/

env/
.idea/
.vscode/
personal/node-utils/node_modules

digipal_project/sqlite3.db
digipal_project/precompiled-static/
digipal_project/django_cache
digipal_project/search
digipal_project/static

digipal_text/static/digipal_text/viewer/annotation.js