include README.md
include LICENSE
recursive-include digipal/static *
recursive-include digipal/templates *
recursive-include digipal_text/static *
recursive-include digipal_text/templates *
recursive-include digipal_project/static *
recursive-include digipal_project/sqlite3.db

